@using MyProject_TopScorers.Domain.ViewModel

@*@model Datum*@
@model PlayerViewModel

@{
    Layout = "_Layout";
}

@*<div class="card mb-3">
  <img class="card-img-top" src="@Model.player.CrestUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.player.player_name</h5>
    <p class="card-text">Игрок команды @Model.team.team_name</p>
    <p class="">Забил на выезде: @Model.goals.away</p>
	<p class="">Забил дома: @Model.goals.home</p>
	<p class="">Всего: @Model.goals.overall</p>
  </div>
</div>*@


<div class="card mb-3">
  <img class="card-img-top" src="@Model.infoPlayerSeason2122.player.CrestUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.infoPlayerSeason2122.player.player_name</h5>
    <p class="card-text">Игрок команды @Model.infoPlayerSeason2122.team.team_name</p>
    <p class="">Забил на выезде: @Model.infoPlayerSeason2122.goals.away</p>
	<p class="">Забил дома: @Model.infoPlayerSeason2122.goals.home</p>
	<p class="">Всего: @Model.infoPlayerSeason2122.goals.overall</p>
    <h5 class="card-title">В прошлом сезоне</h5>
    <p class="">Забил на выезде: @Model.infoPlayerSeason2021.goals.away</p>
	<p class="">Забил дома: @Model.infoPlayerSeason2021.goals.home</p>
	<p class="">Всего: @Model.infoPlayerSeason2021.goals.overall</p>
  </div>
</div>